@import "../../../styles/global.scss";

.container {
    padding: 0 2rem;
}

.container{
    margin: auto;
    h1{
        text-align: center;
    }
    ul{
        list-style: none;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        li{
            padding:0.5rem;
            cursor: pointer;
            transition: ease 0.3s;
            position: relative;
            &:before{
                width:0;
                height:2px;
                background-color:$black;
                content:'';
                position: absolute;
                left:0;
                bottom:0;
            }
            &.selected,
            &:hover{
                &:before{
                    width:100%;
                }
            }
        }
    }
    div{
        margin:0;
        padding:0;
        box-sizing: border-box;
    }
    .grid{
        display:flex;
        gap:1rem;
        margin:1.5rem 0;
        & >  div{
            background-color:$dark;
            border-radius:1rem;
            padding:1rem;
            width:calc(100% / 4);
            img{
                object-fit: cover;
                width:100%;
            }
            p{
                margin-bottom:0;
            }
        }
    }
}