$baseFontSize: 16px;
$baseLineHeight: 22px;

//Color
$white: #FFFFFF;
$dark: #4A4C4F;
$black: #000000;
$borderColor: #E5E5E6;
$grayBg: #F2F2F3;
$purple: #6f10a2;
$offPurple: #F5E8FD;
$brown: #BF576F;
$gray: #636569;
$green: #10A26F;
$baseColor: #191919;
$baseGray: #737373;


